.resource-list {
  padding-left: 0; }

.resource-list li {
  padding-left: 0; }

/*
#footer {
	padding-top: 0;
}
*/
.logo {
  display: none !important; }

.small {
  font-weight: 600; }

.categoriesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-transform: lowercase;
  font-variant: small-caps; }
  .categoriesList .workCategory {
    display: none;
    padding: 0; }
    .categoriesList .workCategory.topLevel {
      display: inline-block; }
    .categoriesList .workCategory a {
      color: #4c5c96;
      border-bottom: none; }

#breadcrumbs {
  padding-left: 0 !important;
  display: flex;
  flex-wrap: wrap; }
  #breadcrumbs i {
    padding-top: 12px; }
  #breadcrumbs span, #breadcrumbs a span, #breadcrumbs a {
    font-size: 16px;
    font-weight: 600 !important;
    font-family: Raleway, Helvetica, sans-serif !important;
    border-bottom: none !important; }

#header {
  position: relative; }
  #header .inner {
    height: 3.5em; }
  #header #menu {
    position: absolute; }

#wrapper > header {
  padding-top: 7em; }

#wrapper > header h2 {
  padding-bottom: 0; }

#wrapper .inner {
  display: block; }

.wrapper.spotlight {
  background-color: transparent; }
  .wrapper.spotlight:before {
    background-image: none;
    border-top: 2px solid #4c5c96; }
  .wrapper.spotlight:after {
    background-image: none;
    border-top: 2px solid #4c5c96; }

.categoriesWrapper {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }
  .categoriesWrapper .inner {
    padding: 20px; }
  .categoriesWrapper:before, .categoriesWrapper:after {
    content: none; }

@media (min-width: 736px) {
  .small {
    visibility: hidden; }

  .logo {
    display: inline-block !important; }

  #wrapper .wrapper {
    padding-top: 0;
    margin-top: 7em;
    margin-bottom: 7em; }

  #wrapper .wrapper .inner {
    padding-top: 0; }

  #wrapper > header {
    padding-bottom: 8em; }

  .wrapper > header h2 {
    padding-left: 20px;
    padding-right: 20px; }

  #header {
    z-index: 900; }

  #navMenu {
    display: none; }

  #menu {
    visibility: visible;
    /*
    		top: 0;
    		right: 0;
    */
    opacity: 1;
    background: transparent;
    z-index: 999;
    pointer-events: none;
    position: initial;
    width: 100%;
    height: 3.5em; }

  #menu .inner {
    position: relative;
    top: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 3.5em;
    background-color: transparent;
    padding: 0 0 0 0;
    pointer-events: all; }

  #menu h2 {
    display: none; }

  #menu .close {
    display: none; }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

  #menu .links li {
    flex-basis: 25%;
    width: auto;
    min-width: 20%;
    font-size: 90%;
    padding-top: 5px; }

  .resource-list {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }

  .wrapper .inner .content {
    width: 100%; }

  #breadcrumbs i {
    padding-top: 5px; }
  #breadcrumbs span, #breadcrumbs a span, #breadcrumbs a {
    font-size: 24px; }

  .categoriesWrapper {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
    .categoriesWrapper .inner {
      margin-top: 0;
      padding: 20px;
      padding-top: 20px !important; }
    .categoriesWrapper:before, .categoriesWrapper:after {
      content: none; } }
@media (min-width: 1100px) {
  #menu .links li {
    font-size: 100%;
    padding-top: 0; } }
#header {
  padding: 0; }

#wrapper > header {
  padding-top: 3em;
  padding-bottom: 5em; }

#nav {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 20px; }
  #nav .navList {
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 !important;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-variant: small-caps; }
    #nav .navList .navPage {
      padding: 0;
      flex-basis: 25%;
      width: 25%;
      text-align: center; }
      #nav .navList .navPage .textlink {
        display: none;
        border-bottom: none; }
      #nav .navList .navPage .iconlink {
        display: block;
        border-bottom: none; }

@media (min-width: 640px) {
  #header .inner {
    width: 100%; }

  #nav .navList .navPage .textlink {
    display: initial; }
  #nav .navList .navPage .iconlink {
    display: none;
    margin: 0 auto;
    text-align: center; } }

/*# sourceMappingURL=custom.css.map */
