$bodyBg: rgba(30,28,38,1);
$spotlight: rgba(40,38,48,1);
$defaultText: rgba(240,240,240,1);
$menu: rgba(75,73,81,1);
$subtleText: rgba(200,200,200,1);
$translucent:  rgba(30,28,38,0.6);
@mixin font() {
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

body {
	background: $bodyBg;
	color: $defaultText;
	@include font();
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}

a {
	color: $defaultText;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
}

.workCat a {
	text-transform: none;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#page-wrapper {
	width: 100%;
	max-width: 100%;
	height: 100%;
}

#header {
	height: 60px;
	width: 100%;
	max-width: 100%;
	position: fixed;
	z-index: 999;
	#headerImage {
		height: 100%;
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: $bodyBg;
		opacity: 0.3;
	}
	#headerContent {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 20px;
	}
	#identifiers {
		width: 50%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	#logo {
		height: 100%;
		width: 50px;
		-ms-flex-preferred-size: 50px;
		    flex-basis: 50px;
		background-size: 40px 40px;
		background-repeat: no-repeat;
		background-position: center center;
	}
	#sitename {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		height: 100%;
		text-align: left;
		padding-left: 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	#menuToggle {
		width: 100px;
		height: 40px;
		border-radius: 10px;
		border: 2px solid white;
		position: absolute;
		top: 10px;
		right: 20px;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		&.active {
			background-color: $menu;
			
		}
	}
	#mainNav {
		display: none;
		opacity: 0;
		.mainMenu {
			list-style: none;
			padding: 0;
			margin: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			& > li {
				padding: 0;
				-ms-flex-preferred-size: 50%;
				    flex-basis: 50%;
				width: 50%;
				font-size: 80%;
			}
		}
		.subMenu {
			display: none;
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: $translucent;
			li {
				padding: 0;
			}
		}
		.is-dropdown-submenu {
			background-color: $bodyBg;
		}
		&.show {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			position: fixed;
			width: 70%;
			background-color: $menu;
			height: 70%;
			border-radius: 3px;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			opacity: 1;
			margin: 15%;
			.mainMenu {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-ms-flex-pack: distribute;
				    justify-content: space-around;
				width: 100%;
				height: 100%;
				li {
					text-align: center;
					width: 100%;
					-ms-flex-preferred-size: 25%;
					    flex-basis: 25%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
				}
			}
		}
	}
}

#contentWrapper {
	min-height: 100%;
	z-index: 990;
	padding-top: 60px;
	.heading {
		min-height: 75vh;
		position: relative;
		padding-top: 40px;
		h2 {
			font-size: 20px;
		}
		#background {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-size: cover;
			background-attachment: fixed;
			opacity: 0.7;
		}
		#foreground {
			padding: 30px;
			padding-left: 40px;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			.content {
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
			h2 {
				text-transform: uppercase;
				font-weight: 600;
			}

		}
		&.shorter {
			overflow-y: scroll;
			min-height: 50vh;
			#foreground {
				display: block;
				.content {

				}
			}
			.all {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				text-align: center;
				border-radius: 3px;
				margin-left: 10px;
			}
			
		}
		.categoriesList {
			padding: 0;
			
			.fa-toggle-right, .fa-toggle-down, .fa-check-square-o {
				margin-left: 10px;
				cursor: pointer;
			}
			.workCategory {
				min-height: 30px;
				padding-left: 5px;
			
				.submenu {
					display: none;
					padding-top: 5px;
					padding-left: 10px;
					min-height: 30px;
					opacity: 0;
					border-left: 1px solid $defaultText;
				}
			}
			.workCategory.expanded {
				& > .submenu {
					display: block;
					-webkit-animation: fadein 0.6s;
					        animation: fadein 0.6s;
					opacity: 1;
				}
			}
			.hasChildren ul {
				margin-top: 5px;
			}
			
		}
		#mainLevel .workCategory {
			padding-left: 0;
			#first-heading {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: start;
				    -ms-flex-pack: start;
				        justify-content: flex-start;
				span {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					width: auto;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					padding-top: 2px;
				}
			}
			.filter-all {
				height: 30px;
			}
			& > .submenu {
			}
		}
		#breadcrumbs {
			padding-left: 0;
			a span, span {
				padding-right: 0;
				padding-left: 0;
			}
		}
		.moduleContent {
			padding: 0 30px;
		}
	}
}

.spotlight {
	background-color: $spotlight;
	h2, h4, h5 {
		text-align: right;
	}
}

.module {
	position: initial !important;
	h2, h4 {
		text-transform: uppercase;
	}
	h4, h5 {
		color: $subtleText;
	}
	h5 {
		font-weight: 300;
		text-transform: lowercase;
		font-variant: small-caps;
	}
	.mainImage, #mainImage {
		width: 100%;
		height: auto;
		margin: 40px 0;
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	p {
		margin-bottom: 40px;
		text-align: justify;
	}
}

.fa-caret-right{
	margin-left: 4px;
}

.resource-list {
	border-left: 1px solid $defaultText;
	padding-left: 10px;
	li {
		min-height: 30px;
	}
}

@media (min-width: 768px) {
	
	#page-wrapper {
	}
	#header {
		#identifiers {
			width: 25%;
		}
		#menuToggle {
			display: none;
		}
		#mainNav {
			position: initial;
			width: 75%;
			height: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-left: 25%;

			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;

			background-color: transparent;
			opacity: 1;
			.mainMenu {
				list-style: none;
				width: 100%;
				padding: 0;
				margin: 0;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: distribute;
				    justify-content: space-around;
				-ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
				font-size: 14px;
				& > li {
					padding: 0;
					text-align: right;
					-ms-flex-preferred-size: auto;
					    flex-basis: auto;
					width: auto;
					a.active {
						border-bottom: 1px solid $defaultText;
					}
				}
			}
			.subMenu {
				//display: none;
				list-style: none;
				padding: 0;
				margin: 0;
				margin-top: 5px;
				margin-bottom: 5px;
				padding-top: 5px;
				padding-left: 10px;
				border: none;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
				border-radius: 4px;
				li {
					width: 100%;
					padding: 5px 0;
					text-align: left;
				}
			}
		}
	}
	#contentWrapper {
		.heading {
			h2 {
				font-size: 22px;
			}
			&.shorter {
			}
			#background {
				background-size: 798px 798px;
				background-repeat: repeat;
			}
			#foreground {
				width: calc(100% - 80px);
				margin: 0 40px;
				padding-left: 0;
				display: block;
			}
			
		}
	}
	.module {
		.mainImage, #mainImage {
			max-width: 50%;
			height: auto;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		p {
			text-align: left;
		}
		&.spotlight {
			.mainImage, #mainImage {
				max-width: 50%;
				height: auto;
				margin-top: 40px;
				margin-bottom: 40px;
				margin-left: 50%;
			}
			p {
				text-align: right;
			}
		}
	}
	#options{
		display: flex;
		flex-direction: column;
		.all, h3 {
			display: inline-block;
			text-transform: uppercase;
		}
		.all {
			margin-left: 10px;
		}
	}
	.workCategories {
		flex-basis: 60%;
		height: 60%;
		width: 100%;
	}
	.submissions {
		flex-basis: 40%;
		height: 40%;
		width: 100%;
	}
	.subCats {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		.workCat {
			flex-basis: 25%;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}

@-webkit-keyframes expand {
	0% { height: 0px; }
	100% { height: auto; }
}

@keyframes expand {
	0% { height: 0px; }
	100% { height: auto; }
}

@-webkit-keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}