{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ page.header.menu }}</h2>
            {{ page.header.subtitle|markdown }}
        </div>
    </header>

    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            {{ page.content }}
        </div>
    </div>
</section>
{% endblock %}