

body {
	width: 100vw;
	max-width: 100vw;	
	height: 100vh;
	margin; 0;
	background-attachment: fixed;
	background-size: cover;
}

#page-wrapper {
	width: 100%;
	height: 110%;
	max-width: 100%;
	background-color: rgba(22,22,22,0.95);
	margin-top: -30px;
	padding-top: 0;
}


#background {
	height: 200px;
	width: 200px;
	position: fixed;
	background-size: 200px 200px;
	left: calc(50vw - 100px);
	top: calc(50vh - 100px);
}